/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 14, 2023, 8:54:25 AM
    Author     : quynh
*/
.modal-login1 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;

}
.header_Login-name{
    font-size: 16px;
    margin-bottom: 2px;
    color: white; 
    text-decoration: none; 
    max-width: 92px;
    max-height: 24px;
    overflow: hidden;
    cursor: pointer;
}
.header_Login-img{
    position: relative; 
    cursor: pointer;
    padding-right: 80px;
    margin-right: -80px;
}

.header_Login-img:hover .header_Login-ht{
    display: block;
}

.menu-acc{
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: -3px;
}       

.menu-ketnoi{
    width: 150px;
}


.header-Login{
    background-color: white;
    min-width: 150px;
    position: absolute;
    left: 0;
    top: 123%;
    border-radius: 3px;
    display: none;
}

.header-Login::before{
    position: absolute;
    width: 128px;
    height: 20px;
    content: "";
    display: block;
    top: -20px;

}
.header-Login-p{
    margin:  5px 0;
    padding: 5px 0;
} 

.header-Login-p a{
    color: black;
    padding: 5px;
    
}

.header-Login a{
    text-decoration: none;
}

.header-Login-p:hover , .header-Login-p:hover a {
    background-color: #2196F3;
    color: white;
}



/*modal-profile*/
.modal-profile{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity linear 0.2s;
}

.modal-profile:target{
    visibility: visible;
    opacity: 1;
}

.modal-overlay{
    background-color: rgba(0,0,0,0.3);
}

.overlay-close{
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
}

.modal_close-btn{
    font-size: xx-large;
    position: absolute;
    top: -4px;
    right: 6px;
    color: black;
    text-decoration: none;
}

.modal_close-btn:hover{
        color: #0056b3;
    text-decoration: none;
}

.modal_profile-body{
    height: 500px;
    width: 600px;
    position: relative;
    background-color: white;
    border-radius: 10px;
}

.modal_profile-body h1{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.profile-img{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.profile-img img{
    width: 140px;
}

.profile-info-body{
    display: flex;
    justify-content: space-evenly;
        
}

.profile-info {
    display: grid;
    grid-gap: 10px;
}

.profile-info img{
    width: 25px;
}

.profile-info h2 {
    margin: 0;
}
.profile-info p{
    color: black;
}

.profile-info label {
    display: block;
    font-weight: bold;
}

.profile-info input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

.profile-info button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-button {
    background-color: #2196F3;
}
.profile-info-body img{
    margin-right: 10px;
}
.save-button {
    background-color: #4CAF50;
}
.profile-info-submit{
    display: flex;
    justify-content: center;
}
.profile-info-submit input{
    padding: 6px 109px;
    border: none;
    color: white;
    background-color: dodgerblue;
    font-size: larger;
    cursor: pointer;
}

.edit-form-profile label{
    font-size: large;
    font-weight: 500;
}

.edit-form-profile input[type=text]{
    padding: 4px 4px;
}
.edit-form-profile input[type=email]{
    margin-left: 4px;
    padding: 4px 5px;
}
.edit-form-profile input[type=tel]{
    padding: 4px 5px;
    margin-left: -3px;
}

.profile-info-email img{
    height: 26px;
}

.profile-info-email{
    display: flex;
        align-items: center;
        
}
.profile-info-email div{
    word-wrap: break-word;
    font-size: unset;
    font-weight: 700;
    max-width: 200px;
}

.profile-info-link{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.profile-info-link a{
        text-decoration: none;
    border: 1px solid;
    padding: 5px 10px;
    font-size: large;
    border-radius: 20px;
}